<script>
import Text from './content/Text'
import Bold from './content/Bold'

var example = [
  { type: 'paragraph',
    key: 'key1',
    text: 'This is the firs\nt paragraph!',
  },
  { type: 'paragraph',
    text: 'This is anot\nher paragraph!',
    key: 'key2',
    ranges: [
      { type: 'bold', start: 1, length: 2 },
      { type: 'bold', start: 8, length: 7 },
    ]
  }
];

export default {
  data() {
    return {
      blocks: example
    }
  },

  render(createElement) {
    var chain = [Bold];

    return createElement('div',[
      createElement(
        'div',
        { attrs: { contenteditable: true },
          on: {
            keydown: this.keyDown,
            keyup: this.keyUp,
          }
        },
        this.blocks.map((e) => createElement(Text,{ ref: e.key, on: { update: (method,...args) =>  this.update(e.key,method,...args) } , props: { block: e, chain } }))
      ),
      createElement(
        'div',
        { attrs: { contenteditable: false } },
        this.blocks.map((e) => createElement(Text,{ props: { block: e, chain, editable: false } }))
      ),
    ].concat(this.blocks.map((b) => createElement('p',JSON.stringify(b))))
  );
    },

  props: {
    'editing': {
      default: false,
      type: Boolean,
    },
    'types': {
      default: () => [ Text , Bold ]
    }
  },

  methods: {
    update(key,type,path,...args) {
      var blockIndex = this.blocks.findIndex((b) => b.key == key);
      if(blockIndex == -1) throw new Error(`Couldn't find block for key ${ key }`);

      var block = this.blocks[blockIndex]

      if(type == 'splice') {
        if(!(path in block)) {
          this.$set(block,path,[]);
        }
        block[path].splice(...args);
      } else if(type == 'push') {
        if(!(path in block)) {
          this.$set(block,path,[]);
        }

        block[path].push(...args);
      } else if(type == 'replace') {
        if(path) {
          block[path] = args[0]
        } else {
          this.$set(this.blocks,blockIndex,args[0]);
//          this.blocks.splice(blockIndex,1,args[0]);
        }
      }
    },

    keyUp(event) {

    },
    keyDown(event) {
      this.blocks.forEach((p) => this.$refs[p.key].event(event));
    }
  }
}

</script>
<style>

</style>
