<template>
  <div class="hello">
    <editable :editing="true"></editable>
  </div>
</template>

<script>
import Editable from './Editable';

export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: { Editable },
  methods: {
    input: function() {
      console.log("Content: ",this.$refs.content);
    },
    keydown: function(event) {
      event.preventDefault();
      event.stopPropagation();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

div:focus {
  outline: none;
}

</style>
